body {
    font-family: "Arial Black";
    background-color: black;
    color: white;
}

.wd-nav-tabs {
    color: rgb(29, 161, 242);
    padding: 0;
}

.wd-nav-tabs li {
    list-style-type: none;
    display: inline-block;
}

.wd-nav-tabs .wd-selected {
    border-bottom: solid 4px rgb(29, 161, 242);
    font-size: 15px;
}

.wd-nav-tabs .wd-non-selected {
    border-radius: 16px;
    color: rgb(110, 118, 125);
    font-size: 15px;
    margin-left: 16px;
}

.wd-rounded-corners-all-around {
    border-radius: 50px;
    width: 500px;
}

.wd-bg-gray {
    background-color: darkgray;
}

.wd-gear {
    border-right: 12px;
    text-decoration: none;
    margin-left: 12px;
}

.wd-title-gray {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-image {
    width: 100px;
    height: 100px;
    border-right: 16px;
    border-radius: 25px;
    margin-right: 16px;
}

.wd-float-right {
    float: right;
}

.wd-float-done {
    clear: both;
}

.wd-ruler-color {
    border-bottom: solid 1px rgb(110, 118, 125);
}

.wd-color-gray {
    color: rgb(110, 118, 125);
}

.wd-pos-relative {
    position: relative;
}

.wd-pos-absolute-50-50 {
    position: absolute;
    top: 50px;
    right: 50px;
}

.wd-font-size {
    font-size: 15px;
}

.wd-margin-0 {
    margin: 0px;
}

.wd-margin-top {
    margin-top: 20px;
}

.wd-h1 {
    width: 80%;
    float: left;
}

.wd-margin-left {
    margin-left: 16px;
}
