body {
    font-family: "Arial Black";
    background-color: black;
    color: white;
}

.wd-title {
    border-left: 16px;
    border-top: 12px;
    font-size: 20px;
    margin: 0px;
}

.wd-title-handle {
    color: rgb(110, 118, 125);
    font-size: 13px;
    border-top: 16px;
}

.wd-ruler-color {
    border-bottom: solid 1px rgb(110, 118, 125);
}

.wd-image {
    width: 48px;
    height: 48px;
    border-left: 16px;
    border-top: 12px;
    border-radius: 48px;
}

.wd-text-gray {
    color: rgb(110, 118, 125);
    width: 506px;
}

.wd-font-size {
    font-size: 15px;
}

.wd-author {
    border-right: 12px;
    border-top: 12px;
}

.wd-paragraph {
    font-size: 15px;
    width: 506px;
    border-left: 16px;
    border-bottom: 12px;
}

.wd-main-content-image {
    width: 504px;
    height: 264px;
}

.wd-rounded-corners-top {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.wd-rounded-corners-bottom {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-width: 1px;
}

.wd-icons {
    font-size: 15px;
    color: rgb(110, 118, 125);
    text-decoration: none;
}

.wd-color-red {
    color: red;
}

.wd-float-left {
    float: left;
}

.wd-clear {
    clear: both;
}

.wd-margin-left {
    margin-left: 12px;
}

.wd-icon-margin {
    margin-left: 90px;
}