
.wd-margin-left {
    margin-left: 12px;
}

.wd-icon-margin {
    margin-left: 125px;
}

.wd-icons {
    font-size: 15px;
    color: rgb(110, 118, 125);
    text-decoration: none;
}

.wd-color-red {
    color: red;
}